:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

/*
Header
*/

#header {
  text-align: left;
}

#header h1 {
  text-align: left;
}

/*
Weather-Content
*/

#weather-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*display: grid;
  grid-template-areas:
    "dailyforecast dailyforecast"
    "hourlyforecast todayforecast";
  gap: 8px;*/
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  /*  border-style: dashed;
  border-radius: 8px;
  border-color: lightgreen;*/
}

/*
7-day
*/

#daily-forecast {
  /*grid-area: dailyforecast;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
}

.daily-forecast-item {
  border-style: solid;
  border-width: 4px;
  border-radius: 16px;
  border-color: #1c1c29;
  background: #f7f5f5;
  min-width: 100px;
  width: 100%;
  margin: 4px;
  padding: 8px;
  text-align: center;
}

.daily-forecast-item h3 {
  color: #3d3d48;
}
.daily-forecast-item p {
  color: #1c1c29;
}

.daily-forecast-item-right {
  text-align: right;
  width: 50%;
  display: inline-block;
  margin: 0px;
}

.daily-forecast-item-left {
  text-align: left;
  width: 49%;
  display: inline-block;
  margin: 0px;
}

#daily-forecast-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/*
hourly forecast
*/

#hourly-forecast {
  /*grid-area: hourlyforecast;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  /*border: dashed green;
  justify-content: center;
  align-items: center;
  padding-right: 8px;*/
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: visible;
  margin: 16px;
  border: dashed green;
}

.hourly-forecast-item {
  width: 100%;
  display: flex;
  flex-direction: row;

  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
  border-color: black;
  background-color: #3d3d48;
  margin: 0px;
  padding: 0px;
}

.hourly-forecast-item p {
  width: 100%;
  text-align: center;
  padding: 0px;
}

#hourly-forecast-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/*
today
*/

#today-forecast {
  /*grid-area: todayforecast;*/

  width: 100%;

  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0px;
  border-radius: 16px;
  border-color: #1c1c29;
  color: #1c1c29;
  background: #f7f5f5;

  margin: 0;
  padding: 0;

  text-align: center;
  justify-content: left;
  align-items: center;
}
